{% extends "@OCWestory/layout.html.twig" %}

{% block title %}Westory - Réinitialisation du mot de passe{% endblock %}

{% block ocwestory_body %}
	<div class="bodyPage">
		<h2>Réinitialisation du mot de passe</h2>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			{{ form_end(form) }}
	</div>
{% endblock %}