<h3>Bienvenue sur WeStory !</h3>

Bienvenue {{ name }}! <br><br>

Votre compte pour Westory a bien été crée. <br>

Vous pouvez désormais vous connecter pour intéragir avec la communauté, voter pour votre chapitre préféré, participer aux histoires des autres membres ou tout simplement lancer la votre! <br>

N'hésitez pas à changer votre image de profile afin de vous distinguer des autres!
<br>

Merci et à bientôt sur <a href="{{ url('oc_westory_homepage')}}">WeStory</a>!